<!-- src/app/product/product.component.html -->
<div ngFor="product">
    <div class="container mx-auto p-4 text-center">
        <h2 class="text-2xl font-bold mb-4">Search</h2>
        <div id="searchForm" class="flex flex-wrap -mx-3 mb-6">
            <!-- Name input -->
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <label for="inputName"
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Name</label>
                <input type="text" #Name id="inputName" placeholder="Name" [(ngModel)]="name"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
            </div>
            <!-- Group dropdown -->
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <label for="selectGroup"
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Group</label>
                <div class="relative">
                    <select id="selectGroup"
                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        [(ngModel)]="selectedGroup" (ngModelChange)="this.onSelectGroupChanged()"> 
                        <option selected disabled>Choose...</option>
                        <option *ngFor="let gro of group" [value]="gro.id">
                            {{ gro.groupName }}
                        </option>
                    </select>
                </div>
            </div>
            <!-- Sub Group dropdown -->
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <label for="selectGroup"
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Sub Group</label>
                <div class="relative">
                    <select id="selectSubGroup"
                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        [(ngModel)]="selectedSubGroup" (ngModelChange)="this.onSelectSubGroupChanged()">
                        <option selected disabled>Choose...</option>
                        <option *ngFor="let sub of subGroup" [value]="sub.id">
                            {{ sub.subGroupName }}
                        </option>
                    </select>
                </div>
            </div>

            <!-- Status input -->
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <label for="inputStatus"
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Status</label>
                <select id="selectActive"
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    [(ngModel)]="selectedActive">
                    <option selected disabled>Choose...</option>
                    <option>
                        active
                    </option>
                    <option>
                        inactive
                    </option>
                </select>
            </div>
            <!-- Search button -->
            <div class="w-full md:w-1/4 px-3 mt-6">
                <button (click)="this.clearData()"
                    class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    clear
                </button>
                <button (click)="this.searchData()"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Search
                </button>
            </div>
        </div>

        <!-- props and -->
        <app-datagrid  [productData]="this.product" (selectedItemChanged)="onSelectedItemChanged($event)"></app-datagrid>

        <nav>
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <div class="w-full md:w-1/4 px-3 mt-6">
                    <a routerLink="/product/{{selectedItemId}}">
                        <button
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                            edit
                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>